// HEADER
.port-navbar.port-default {
	width: 100%;
	z-index: 15;
	padding: 0.25em 0.5em;

	.port-navbar {
		&-brand {
			font-size: 2.4rem;
			text-transform: uppercase;
			letter-spacing: 0.1rem;
			font-weight: bold;
		}

		&-item {
			margin-left: 0.25em;
			margin-right: 0.25em;
		}

		&-link {
			font-weight: bold;
			letter-spacing: 0.08rem;
			font-size: 1.8rem;
			text-transform: uppercase;

			&.active {
				color: #dba919;
			}

			&:hover,
			&:focus {
				color: #dba919;
			}
		}
	}
}

.navbar-toggler {
	all: initial;
	width: 3.5rem;
	height: 3.5rem;
	background-color: var(--main-font-color);
	outline-color: var(--main-font-color);
	border-radius: 0.2rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;

	.navbar-toggler-item {
		width: 90%;
		height: 0.5rem;
		background-color: var(--main-bg-color);
		&:nth-child(1),
		&:nth-child(2),
		&:nth-child(3) {
			transform-origin: center;
			transition: all 0.8s cubic-bezier(0.075, 0.82, 0.165, 1);
		}
	}

	&.navbar-opened {
		.navbar-toggler-item {
			&:nth-child(1) {
				transform: translateY(200%) rotate(-45deg);
			}
			&:nth-child(2) {
				opacity: 0;
			}
			&:nth-child(3) {
				transform: translateY(-200%) rotate(45deg);
			}
		}
	}
}
