// HEADER
.port-navbar.port-default {
	width: 100%;
	z-index: 15;
	padding: 0.25em 0.5em;

	.port-navbar {
		&-brand {
			color: white;
			font-size: 2.4rem;
			text-transform: uppercase;
			letter-spacing: 0.1rem;
			font-weight: bold;
		}

		&-item {
			margin-left: 0.25em;
			margin-right: 0.25em;
		}

		&-link {
			color: white;
			font-weight: bold;
			letter-spacing: 0.08rem;
			font-size: 1.8rem;
			text-transform: uppercase;

			&.active {
				color: #dba919;
			}

			&:hover,
			&:focus {
				color: #dba919;
			}
		}
	}
}
