@import './globals.scss';
@import '../components/shared/fonts';
@import './index';
@import './header.scss';

.customClassFromFile {
	color: #8f8fff;
}

html,
body {
	height: 100%;
	width: 100%;
	font-family: 'Montserrat', 'Helvetica' !important;
}

.absolute {
	position: absolute;
}

.clickable {
	cursor: pointer;
}

.self-typed {
	font-size: 4rem;
	font-weight: bold;
	text-rendering: geometricPrecision;
	letter-spacing: 0.2rem;
}
