@import './shared/colors';
@import './shared/mixins';

// Globals
@import './globals.scss';
@import './shared/fonts';
@import './shared/colors';

// PAGES
@import './index';
@import './portfolios';
@import './blogs';
// @import './about';
// @import './cv';

// COMPONENTS
@import './header';
// @import './slate-editor';

.customClassFromFile {
	color: #8f8fff;
}

html,
body {
	height: 100%;
	width: 100%;
	font-family: 'Montserrat', 'Helvetica' !important;
}

.base-page {
	// padding-top: 15rem;
	color: white;
	color: black;
	background-color: #ecedee;
	min-height: 100vh;

	.page-header {
		.page-header-title {
			font-weight: 700;
			color: black;
			display: inline-block;
			margin-bottom: 2rem;
		}
	}
}

.absolute {
	position: absolute;
}

.clickable {
	cursor: pointer;
}

.self-typed {
	font-size: 4rem;
	font-weight: bold;
	text-rendering: geometricPrecision;
	letter-spacing: 0.2rem;
}
